# created by virtualenv automatically
.venv
.idea
/module_7/products.txt
/module_7/test.txt
/module_9/example.txt
/module_10/example1.txt
/module_10/example2.txt
/module_10/example3.txt
/module_10/example4.txt
/module_10/example5.txt
/module_10/example6.txt
/module_10/example7.txt
/module_10/example8.txt
/module_10/files/
/module_11/parabola.xlsx
/module_11/out_image.png
/module_11/icon.ico
